.home{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #eceeef;
    max-width: fit-content;
    margin: auto;
    margin-top: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}
.active{
    color:'white';
}
.not-active{
    color:'ghostwhite';
}
.not-active:hover{
    color: 'white';
}